.posterDiv{
    width: 12.5em;
    height: 19em;
    background-color: rgb(240,240,240);
    overflow: hidden;
    flex-shrink: 0;
    background-size: cover;
    background-position: center;
    cursor:pointer;
}