.register {
    background-color: rgba(24,4,255,255);
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;   
    align-items: center;
    font-weight: bold;
}

.registerForm {
    width: 30em;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}

.inputReg {
    color: #FFF503;
    text-align: left;
    width: 18em;
    margin-bottom: -0.1em;
}

.nameInputReg {
    width: 18em;
    background-color: lightgrey;
    margin-bottom: 1.5em;
}

.surnameInputReg {
    width: 18em;
    background-color: lightgrey;
    margin-bottom: 1.5em;
}

.emailInputReg {
    width: 18em;
    background-color: lightgrey;
    margin-bottom: 1.5em;
}

.pwdInputReg {
    width: 18em;
    background-color: lightgrey;
    margin-bottom: 1.5em;
}

.btnReg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.errorMessage {
    color: rgb(255, 166, 0);
    font-weight: bold;
}