@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.a {
    border: solid red 0.1em;
}

.header {
    height: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(35,0,133,255);
}

.left { /* div del logo + desplegable de generos, parte izquierda header */
    width: 30em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    color: rgba(253,255,60,255);
}

.logo {
    height: 1.5em;
    font-weight: bold;
    font-size: 3em;
    font-family: 'Fredoka One', cursive;
    cursor:pointer;
    user-select: none;
}

.genres {

}

.center { /* div central */
    width: 30em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search { /* barra de busqueda */
    background-color: lightgrey;
    width: 25em;
}

.right { /*div con los botones, parte derecha header */
    width: 30em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.logoutIcon {
    height: 2.5em;
    width: 2.5em;
    background-image: url("/src/img/logout.png");
    cursor: pointer;
}