.movieContainer{
    display: flex;
    flex-direction: row;
    background-color: rgba(24,4,255,255);
    flex: 0 1 auto;
}

.midLeft{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 60vw;
}

.midLeftTop{
    display: flex;
    height: 70vh;
    width: 60vw;
    align-items: center;
    justify-content: center;
}

.trailer{
    height: 30em;
    width: 50em;
    background-color: rgb(1, 15, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.trailer img{
    width: 15em;
}

.midLeftBot{
    height: 30vh;
    width: 60vw;
}

.title{
    height: 2em;
    width: 60vw;
    display: flex;
    flex-direction: row;
}

.movieTitle{
    height: 2em;
    width: 60vw;
    color: white;
    text-align: left;
}

.ratingDuration{
    display: flex;
    flex-direction: row;
    height: 2em;
    align-items: center;
}

.empty{
    width: 3em;
}

.ratingStars{

    display: flex;
    flex-direction: row;
    height: 2em;
    color: white;
    width: 20vw;
    text-align: left;
    margin-bottom: 1em;
}

.price{
    height: 2em;
    width: 30vw;
    text-align: center;
    color: white;
}

.synopsisMain{
    height: 2em;
    width: 60vw;
    display: flex;
    flex-direction: row;
    margin-top: 1em;

}

.synopsis{
    height: 12em;
    width: 60vw;
    text-align: left;
    color: white;
    font-size: larger;
}

.midRight{
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 100vh;
}

.midRightTop{
    display: flex;
    flex-direction: row;
    height: 60vh;
}

.poster{
    height: 14em;
    width: 10em;
    margin-left: 2em;
    margin-bottom: 10em;
    margin-top: 5em;
    margin-right: 3em;
}

.posterImg{
    height: 14em;
    width: 10em;
    margin-top:4.9em;

}

.movieInfo{
    display: flex;
    flex-direction: column;
    height: 20vh;
    color: white;
    margin-top: 10em;
}

.movieName{
    text-align: left;
}

.genre{
    text-align: left;
}

.year{
    text-align: left;
}

.midRightBot{
    height: 30vh;
    display: flex;
    flex-direction: row;
}

.rentButton{
    margin-top: 5em;
    margin-left: 15em;
}
