.movieContainer{
    display: flex;
    flex-direction: row;
    background-color: rgba(24,4,255,255);
    height: 100vh;
    width: 100vw;
}

.midLeft{
    display: flex;
    flex-direction: column;
    /* background-color: yellowgreen; */
    height: 100vh;
    width: 60vw;
}

.midLeftTop{
    display: flex;
    height: 70vh;
    width: 60vw;
    align-items: center;
    justify-content: center;
    /* background-color: darkslateblue; */
}

.trailer{
    height: 30em;
    width: 50em;
    background-color: rgb(1, 15, 1);
}

.midLeftBot{
    height: 30vh;
    width: 60vw;
    /* background-color: rgb(132, 61, 139); */
}

.title{
    height: 2em;
    width: 60vw;
    /* background-color: rgb(142, 151, 142); */
    display: flex;
    flex-direction: row;
}

.movieTitle{
    height: 2em;
    width: 60vw;
    color: white;
    text-align: left;
}

.ratingDuration{
    display: flex;
    flex-direction: row;
    height: 2em;
}

.empty{
    width: 3em;
}

.ratingStars{

    display: flex;
    flex-direction: row;
    height: 2em;
    /* background-color: rgb(238, 10, 10); */
    color: white;
    width: 10vw;
    text-align: left;
    margin-bottom: 1em;
}

.duration{
    height: 2em;
    width: 50vw;
    
    text-align: center;
    color: white;
}

.synopsisMain{
    height: 2em;
    width: 60vw;
    /* background-color: rgb(142, 151, 142); */
    display: flex;
    flex-direction: row;
    margin-top: 1em;

}

.synopsis{
    height: 12em;
    width: 60vw;
    /* background-color: rgb(223, 238, 10); */
    text-align: left;
    color: white;
}

.midRight{
    display: flex;
    flex-direction: column;
    /* background-color: blueviolet; */
    width: 40vw;
    height: 100vh;
}

.midRightTop{
    display: flex;
    flex-direction: row;
    /* background-color: brown; */
    height: 60vh;
}

.poster{
    height: 14em;
    width: 10em;
    margin-left: 2em;
    background-color: rgb(0, 0, 0);
    margin-bottom: 10em;
    margin-top: 4.4em;
    margin-right: 3em;
}

.movieInfo{
    display: flex;
    flex-direction: column;
    height: 20vh;
    color: white;
    margin-top: 4.4em;
}

.movieName{
    text-align: left;
}

.genre{
    text-align: left;
}

.director{
    text-align: left;
}

.midRightBot{
    /* background-color: darkcyan; */
    height: 30vh;
    display: flex;
    flex-direction: row;
}

.rentButton{
    margin-top: 5em;
    margin-left: 15em;
}
